
html, body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

.head-and-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  height: min-content;
  display: flex;
  border: 2em;
}

.header-entry {
  flex-grow: 1;
  text-align: center;
  color: #CCC;
  border-color: #CCC;
  background-color: #111;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#editor {
  overflow-y: scroll;
  width: 100%;
}

.main-term {
  background-color: #000;
  color: #CCC;
  white-space: pre;
  font-family: 'Courier New', monospace;
  flex-grow: 1;
  width: 100%;
}

.CodeMirror {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
