html, body, #main {
    width: 100%;
    height: 100%;
}

.CodeMirror {
    height: 100%;
}

#terminal {
    background-color: black;
    color: rgb(198, 198, 198);
}

.hsplit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.hsplit > div {
    flex: 1 1 0px;
    flex-grow: 1;
}

.vsplit {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
}

.vsplit > .head {
    flex-basis: 5%;
    flex-grow: 1;
    background-color: #111;
    color: rgb(198, 198, 198);
}

.vsplit > .hsplit {
    flex-basis: 95%;
    flex-grow: 1;
}

.head > h2 {
    text-align: center;
}

#terminal {
    overflow-x: hidden;
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}